mixin navLink(text)
  li
    a.transition-colors.duration-200.font-bold(class=attributes.href === currentPath ? "text-blue-700 border-b border-b-neutral-300 pb-1" : "hover:text-blue-700")&attributes(attributes)= text 